@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Chakra+Petch:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Chakra Petch", sans-serif;
}

.svc-creator__banner {
  display: none;
}

textarea.svc-json-editor-tab__content-area {
  min-height: 500px;
}
